.main-box{
    box-sizing: content-box;
    max-width: 935px;
    padding: 40px 20px 0;
    width: calc(100% - 40px);
    margin: 0 auto 30px;

}


.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,250px);
    grid-gap: 25px;
   
}

.grid-container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,250px);
    grid-gap: 25px;
   
}

.grid-container2>div{
    background-image: url("../img/tour.jpg"); 
    background-size: 100% 100%;
}

.grid-container>div{
    display: flex;
    background-color: pink;
    justify-content: center;
    align-items: center;
    /* background-image: url("../img/tour.jpg"); 
    background-size: 100% 100%; */
}

.grid-container>div:nth-child(8n+2){
    grid-row: span 2;
    grid-column: span 2;
    
}

.grid-container div div{
    
    /* background-color: gray; */
    width: 100%;
    height:100%
    
}

.hidden-box{
    display: none;
    opacity: 0.7;
 
}








